

@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Nunito+Sans:ital,opsz,wght@1,6..12,600&display=swap');

*{
  padding: 0;
  margin: 0;
}
a{
  color:rgb(0, 217, 255) ;
  text-decoration: none;
  margin: 2vmax;
  font-size: 1.3rem;
}